body {
    background-color: black;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenido{
    width: 700px;
    background-color: #541743;
    border-radius: 16px;
}

.bg {
    background-color: #8B0C3C;
    color: #F7BD00;
    border-radius: 16px 16px 0 0;

}

.bienvenida {
    background-color: #C10037;
    background-image: linear-gradient(to bottom, #C10037, #A4063A);
    color: #F7BD00;
}

.bg1 {
    background-color: #C10037;
    background-image: linear-gradient(to bottom, #C10037, #A4063A);
    color: white;
}

.alinear {
    margin-right: 10px;
    color: #F7BD00;
}

.img_user {
    margin-right: 15px;
}

.bienvenida {
    align-items: initial;
    margin: 30px;
}

.general {
    margin: 30px;
}

.general1 {
    margin-right: 15px;
}

.saldo {
    align-items: center;
    margin: 30px;
}

.operaciones {
    margin: 30px;
}

.op {
    background-color: #C10037;
    background-image: linear-gradient(to bottom, #C10037, #8B0C3C);
    color: white;
}


/* Tarjeta */

.tarjeta {
    width: 400px;
    height: 250px;
    background-color: #C10037;
    background-image: linear-gradient(to right, #C10037, #8B0C3C);
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oculta {
    display: none;
}

.logo-tarjeta img {
    width: 40px;
}

.numero-tarjeta {
    font-size: 18px;
    font-weight: bold;
}

.info-tarjeta {
    display: flex;
    flex-direction: column;
}

.titular-tarjeta {
    font-size: 18px;
    font-weight: bold;
}

.vencimiento-tarjeta,
.cvv-tarjeta {
    font-size: 14px;
}


.btn-custom {
    background-color: #F68A1E;
    border-color: #F68A1E;
    color: white;
}

.btn-custom:hover {
    background-color: orange;
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #F7BD00;
    color: #C10037;
    font-weight: bolder;
}

.nav-pills .nav-link:not(.active) {
    background-color: #B10338;
    background-image: linear-gradient(to bottom, #B50238, #AE0438);
    color: #ffffff;
    font-weight: bolder;
}

/* Operaciones */
.desposito {
    margin: 30px;
}